NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyA1mDwHn8Obve9oC2lNlJLc3UvCqL4I1tE
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=disnakertrans-gowa.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=disnakertrans-gowa
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=disnakertrans-gowa.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1037537230966
NEXT_PUBLIC_FIREBASE_APP_ID=1:1037537230966:web:23ed02f2ac421eb39f9f57
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-KC6L6G6ZWK